@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar {
    background-color: black;
}

.section {
    background-color: blue;
}

.footer {
    background-color: yellow;
}

@media screen and (max-width: 670px) {
}