@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --White: #ffffff;
    --Black: #1F2125;
    --Pink: #A91079;
    --Gray: #333333;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;    
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;

}

::-webkit-scrollbar {
    width: .30rem;
    height: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--Pink);
    border-radius: 20rem;
  }

body {
    background-color: var(--Black);
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;

    z-index: 3;

    width: 100%;

    display: flex;
    align-items: left;
    
    margin: 0px;
    margin-top: 0%;

    border-bottom: solid 0.063rem var(--Gray);
    
    padding-right: 8%;
    padding-left: 8%;
    list-style: none;

    background-color: var(--Black);
}

.nav a {
    text-decoration: none;
    color: var(--White);
    margin-left: 1.25rem;
}

.nav a:hover {
    color: var(--Pink);
    transition-timing-function: linear;
    transition-duration: 100ms;
}

.nav li{
    margin: 10px;
}

.content {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 5rem;
    overflow: auto; 
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.home {
    padding-top: 10rem;
    height: 100vh;
} 

.contato {
    padding-top: 10%;
    padding-bottom: 1%;
    text-align: center;
}

.footer {
    background-color: var(--Pink);
    width: 100%;
    padding: 2%;
    gap: 10rem;
    display: flex;
    justify-content: center;
}

.recuo {
    padding-top: 2%;
    padding-left: 5%;
}

.time {
    padding-left: 1%;
    border-left-width: medium;
    border-left-style: solid;
    border-left-color: var(--Pink);
}

.nuvem{
    display: inline;
    text-align: center;
    justify-content: center;
}

a {
    color: var(--White);
    text-decoration: inline;
    border-style: none;
}

h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--White);
    display: inline;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    color: var(--White);
    display: inline;
}

h3 {
    margin-top: 20rem;
    font-size: 20px;
    text-align: right;
    color: var(--White);
}

h4 {
    font-weight: 900;
    font-size: 20px;
    color: var(--Pink);
    display: inline;
}

h5 {
    font-weight: 900;
    font-size: 40px;
    color: var(--Pink);
    display: inline;
}

h6 {
    font-weight: 700;
    font-size: 30px;
    color: var(--Pink);
    display: inline;
    text-indent: 40px
}

h7 {
    font-weight: 500;
    font-size: 15px;
    color: var(--White);
    display: inline;
}

h8 {
    font-weight: 800;
    font-size: 50px;
    color: var(--White);
    margin-left: 10%;
}

h9 {
    font-weight: 800;
    font-size: 30px;
    color: var(--White);
    display: inline;
    margin-left: 8%;
}

h10 {
    font-weight: 800;
    font-size: 100px;
    color: var(--Pink);
    display: inline;
    margin-left: 4%;
}

h11 {
    font-weight: 600;
    font-size: 25px;
    color: var(--White);
    display: inline;
    text-align: center;
}

img.icone{
    max-width: 100%;
    max-height: 100%;
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px;
    margin: 0%;
    margin-bottom: 5px; 
    margin-right: auto;
}

.nuvem {
    color: var(--White);
    cursor:default;
}

.nuvem :hover {
    color: var(--Pink);
    transition-timing-function: linear;
    transition-duration: 100ms;
}